<app-topbar></app-topbar>

<!-- Content -->
<div class="flex flex-col xl:flex-row w-full h-3/5 font-inter mb-14 md:mb-20">
  <!-- Upper part -->
  <div class="flex flex-col justify-center items-center h-1/4 xl:h-full bg-gray-100 xl:basis-1/2">
    <div class="flex flex-col items-start gap-1 m-10">
      <h1 class="text-gray-800">Bestel eten en meer</h1>
      <h2 class="text-gray-600">Restaurants en boodschappen in de buurt</h2>
      <div class="border border-black rounded-full focus-within:border-orange-500">
        <!-- Zoek input -->
        <input class="py-2 pl-2 pr-10 outline-none rounded-l-full peer border-l border-y border-white
        focus:border-y focus:border-y-orange-500 focus:border-l focus:border-l-orange-500" placeholder="Volledige adres" type="text"/>

        <button class="bg-white py-2 px-1 rounded-r-full border-y border-r border-y-white border-r-white
         peer-focus:border-y-orange-500 peer-focus:border-r-orange-500">
          <span class="bg-orange-500 w-auto h-auto p-2 px-4 rounded-full font-bold text-white hover:bg-orange-600">Zoek</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Lower part -->
  <div class="bg-gray-100 xl:basis-1/2 h-96 md:h-3/4 xl:h-full">
    <div class="bigImg bg-orange-500 object-contain w-full h-full flex justify-center items-center">
      <img class="object-contain w-full h-1/2" src="assets/images/oguz_bezorgd_content2.png" alt="">
    </div>
  </div>
</div>

<!-- Triple -->
<div class="pb-32">
  <div class="container relative mx-auto flex flex-col items-start px-6 md:space-x-7 md:flex-row">
    <!-- Line -->
    <div class="absolute top-32 left-16 hidden h-3 w-10/12 bg-orange-500 md:block"></div>
    <div class="absolute left-1/2 -ml-1 h-full w-2 bg-orange-500 md:hidden"></div>

    @let boxData = [
      {
        title: "Vertel ons waar je je bevindt",
        content: "Wij laten je zien bij welke winkels en restaurants in de buurt je kan bestellen.",
        svg: "/assets/images/box1.svg",
      },
      {
        title: "Vind wat je zoekt",
        content: "Zoek naar producten of gerechten, bedrijven of keukens.",
        svg: "/assets/images/box2.svg",
      },
      {
        title: "Bestelling voor bezorging of afhalen",
        content: "We houden je op de hoogte van de voortgang van je bestelling.",
        svg: "/assets/images/box3.svg",
      }
    ];

    @for (data of boxData; track $index) {
      @let count = $index * 8;
      <app-box [count]="count" [title]="data.title" [content]="data.content" [svgPath]="data.svg"/>
    }
  </div>
</div>
