<div class="topbar flex justify-between h-20 w-full p-3 bg-gradient-to-r from-orange-50 from-60% to-orange-500 shadow-2xl ">
  <div class="logo">
    <a href="#">
      <img ngSrc="/assets/images/oguz_logo.png" class="" alt="Logo" width="170" height="32"/>
    </a>
  </div>
  <div class="flex flex-row gap-2">
    <a icon="pi pi-truck" label="Word bezorger"></a>
    <a icon="pi pi-shop" label="Word partner"></a>
    <a icon="pi pi-user" label="Inloggen"></a>
  </div>
</div>

<button mat-button>Basic</button>
<fa-icon [icon]="faTruck"></fa-icon>
